*{
    margin: 0;
}

:root
{
    --color-primary: rgb(212, 61, 61);
}

#topbar
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* padding: 10px 200px; */
    background-color: var(--color-primary);
}

.topbar-content, .topbar-social
{
    padding: 10px 100px;
}

#topbar a
{
    color: white;
    text-decoration: none;
}



#header-background
{
    position: relative;
}

#header-background img
{
    height: 500px;
    width: 100%;
    object-fit: cover;
}


#header li {
    list-style: none;
}

.top-bar-space
{
    height: 40px;
    background-color: black;
}

#main-nav {
    position: absolute;
    height: 70px;
    width: 100%;
    line-height: 70px;
    background: linear-gradient(to bottom,rgba(0, 0, 0, 1.0),rgba(0, 0, 0, 0.0));
    display: flex;
    justify-content: space-between;
    z-index: 99;
}

.logo-img
{
    height: 80px;
    width: 80px;
    margin-left: 20px;
}

#main-nav ul {
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
}

#main-nav li {
    margin-left: 50px;
}

#main-nav li a {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.header-content
{
    position: absolute;
    color: white;
    width: 320px;
    left: 100px;
    top: 150px;
}
.header-content h1
{
    font-size: 50px;
    font-weight: bold;
    margin-top: 100px;
}


.order-btn
{
    padding: 10px 40px;
    background: rgb(212, 61, 61);
    border: none;
    border-radius: 15px;
    margin-top: 25px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
