:root {
  --primary-color: rgb(255, 90, 90);
}

* {
  /* color: white; */
  text-transform: capitalize;
}

body {
  background-color: skyblue;
  text-align: -webkit-center;
}

/* #counter-section {

} */

.counter-content {
  border: 2px solid var(--primary-color);
  border-radius: 25px;
  background-color: rgb(44, 44, 44);
}

#counter {
  font-size: 100px;
  color: white;
  font-weight: bold;
}

.button {
  border: none;
  border-radius: 10px;
  background-color: var(--primary-color);
  text-transform: uppercase;
  font-size: 20px;
  transition: all 0.5s;
}

.button:hover {
  color: var(--primary-color) !important;
  background-color: white;
}
